.navbar {
    height: 10%;
    margin-bottom: 0;
    border-radius: 0;
    background: url("back2.jpg") no-repeat;
    background-size: cover;
    border-color: #4badf3;
}

.wrapper{
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 25%;
    max-width: 25%;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -25%;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -25%;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";*/


body {
    background: #fafafa;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #def5ff;
    color: black;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #010761;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #def5ff;
    background: #1402be;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: black;
    background: #def5ff;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #def5ff;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 100%
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #def5ff;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: darkblue;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}